/*Content
Global Styling - 17
Fonts - 19 
Header - 43
Navigation - 107 
Index image - 151 
Footer - 205
Browser styling - 226
Mobile styling - 252
Hamburger menu - 307

Jackets page - 362
About page - 377
Contact page - 403
*/

/*Global styling*/

@font-face {
    font-family: Bebas Neue;
    src: url(/fonts/Bebas\ Neue/) format("truetype");
    font-family: Gentium;
    src: url(/fonts/Gentium/) format("truetype");
}

body {
    display: grid;
    grid-gap: .2em;
    grid-template-areas: 
    'header header header' 
    'nav nav nav' 
    'main main main' 
    'footer footer footer';
    grid-template-rows: auto;
    
}

header {grid-area: header;}
nav {grid-area: nav;}
main {grid-area: main;}
footer {grid-area: footer;}

header {
    background: url(/images/rainydays_logo.png);
    background-repeat: no-repeat;
    background-color: #3F402D;
    background-position-x: center;
    background-position-y: center;
    border-radius: 20px 20px 0px 0px;
    padding-top: 10px;
    text-align: center;
    height: 190px;
    display: block;
    position: center;
    width: 89vw;
    margin-left: 5%;
    margin-right: 5%;
}

#headerContent {
    margin: 0 auto; 
    width: 50%;
}

.logo, .border {
    left: 50%;
    top: 50%;
}

.logo {
    margin: 0 auto;
}

.rainydays {
    display: block;
    justify-content: center;
    z-index: 2;
    width: 90vw;
    height: 190px;
}

.border {
    display: block;
    justify-content: center;
}
 
body {
    
    background-color: #D9D9D9;
    width: 100vw;
    overflow-x: hidden;
}

.logo {
    display: inline-block;
    size: 99%;    
    align-items: center;
}

.border {
    margin-left: 25%;
    margin-top: 10px;
}



/*navigation*/
nav { 
    height: 60px;
    overflow-x: hidden;
}

ul {
    height: 80px;
    margin-top: 1em;
    padding-top: 7px;
    text-align: center;
    overflow-x: hidden;
}


.menu, .menu1, .current {
    font-family: Bebas Neue;
    font-size: 1.2em;
    background-color: #F2F2F2;
    color: #3F402D;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    margin-top: 1em;
    width: 5%;
    padding: .2%;
    padding-left: 3%;
    padding-right: 3%;
    border: solid #3F402D 2px;
    }

.menu, .menu1 {
    margin-left: 3%;
    margin-right: 3%;
  }

.current {
    background-color: #3F402D;
    color: #F2F2F2;
    border: solid #3F402D 1px;
    
}


/*index image*/

.browser {
    width: 90vw;
    z-index: 1;
    position: absolute;
    
}


main {
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    width: 100vw;
    height: 81vh;
    z-index: 1;
    overflow-x: hidden;
}

.hometext {
    font-family: Bebas Neue;
    font-size: 4rem;
    color: #F2F2F2;
    text-shadow: 2px 2px #3F402D;
    z-index: 9;
    position: absolute;
    background-size: contain;
    left: 50%;
    transform: translate(-50%);
}

.cta {
    font-family: Bebas Neue;
    text-decoration: none;
    font-size: 2rem;
    text-align: center;
    color: #F2F2F2;
    background-color: #850000F5;
    border-radius: 25px;
    width: 200px;
    height: 50px;
    padding-top: 10px;
    padding: 8px 10px 5px 10px;
    z-index: 8;
    position: relative;
    top: 12em;
    left: 50%;
    transform: translate(-50%);
    
}



/*Footer*/
footer {
background-color: #3F402D;
font-family: Gentium;
color: #F2F2F2;
text-align: center;
height: 25px;
padding-top: 10px;
margin-top: 40px;
margin-left: 5%;
margin-right: 5%;
width: 89vw;

}

.footermenu {
    text-decoration: none;
    color: #F2F2F2;
    margin-left: 50px;
}


/*Browser styling*/
@media (min-width:601px) {

    .index {
        background: url(/images/yellowjacketbeach.png);
        background-repeat: no-repeat;
        width: 89vw;
        left: 50%;
        right: 50%;
        margin-left: 5%;
        margin-right: 5%;
        
        
    }

   .hamburger {
       display: none;
   }
    
   .m_hometext {
       display: none;
   }

}


/*Mobile styling*/

@media  (max-width:600px) {

    


    .index { 
        background: url(/images/m_yellowjacketbeach1.png);
        background-repeat: no-repeat;
        width: 89vw;
        margin-left: 5%;
        margin-right: 5%;
    
    }
    
   .browser-nav {
       display: none;
   }

 
   .cta {
    font-family: Bebas Neue;
    text-decoration: none;
    font-size: 2rem;
    text-align: center;
    color: #F2F2F2;
    background-color: #850000F5;
    border-radius: 25px;
    width: 200px;
    height: 50px;
    padding: 15px 8px 5px 8px;
    z-index: 8;
    position: absolute;
    top: 17em;
    left: 50%;
    transform: translate(-50%);
   }

   .hometext {
       display: none;
   }

    .m_hometext {
        font-family: Bebas Neue;
        color: #F2F2F2;
        text-shadow: 2px 2px #3F402D;
        font-size: 2.5em;
        top: 4.5em;
        text-align: center;
        z-index: 2;
    }



/*hamburger menu*/
    
  .mobile-menu { 
    display: none;
    background-color: #F2F2F2;
    font-size: 2em;
    width: 6em;
    height: 7em;
    text-decoration: none;
    padding-top: 5px;
    padding-right: 30px;
    padding-bottom: 10px;
    overflow-y: hidden;
    position: absolute;
    z-index: 999;
    
}

a {
    text-decoration: none;
    color: #3F402D;
    
}

.mobile-menu-content {
    height: 7em;
    text-decoration: none;
    color: #3F402D;
    display: block;
    z-index: 999;    
}

#hamburger-menu{
    display:none;
    
} 

#hamburger-menu:checked ~ nav {
    display: block;
       
}


.hamburger {
    background-color: #D9D9D9;
    width: 2em;
    color: #3F402D;
    padding-left: 5px;
    z-index: 20;
    margin-left: 1.7em;
    
}
   
/*end of hamburger menu*/
}

/*JACKETS*/

.product-section {
    width: 89vw;
    height: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    justify-items: center;
    align-items: center;
    border: 1px solid green;
    
}

.productbox {
    background-color: #F2F2F2;
    align-self: start;
    justify-self: center;
    width: 350px;
    height: 400px;
    z-index: 5;
}

.product1, .product2, .product3, .product4, .product5, .product6 {
    width: 300px;
    height: 350px;
    align-content: center;
    justify-content: center;
    z-index: 1;
    }

/*CONTACT*/

/* Style inputs with type="text", select elements and textareas */

.contactlayout {
    width: 89vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid red;
/*     grid-area: auto, 1fr 1fr;
    grid-area: "contactform contactinfo";
 */}

h1 {
    font-family: Bebas Neue;
    font-size: 2.25em;
    color: #3F402D;
}

h2 {
    font-family: Bebas Neue;
    margin-top: 1vw;
    font-size: 1.75em;
    color: #3F402D;
    }

.paragraphtext {
    font-family: Gentium;
    font-size: 1.25em;
    margin-top: 1vw;
    text-align: left;
    display: grid 1fr;
    color: #3F402D;
}

.contactinfo {
    width: 35vw;
    border: 1px solid blue;
/*     margin-top: ;
    margin-left: 50vw;
    position: right;
    display: grid 1fr;
 */
}

.contactform {
    display: grid, 1fr;
    margin-top: 11vw;
    width: 35vw;
    }

input[type=text], select, textarea {
    width: 25vw; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 2px solid #8C7F65; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-left: 15vw;
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    display: grid;
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #F2F2F2;
    color: #3F402D;
    padding: 12px 20px;
    border: 2px solid #3F402D;
    border-radius: 4px;
    cursor: pointer;
    font-family: Bebas Neue;
    font-size: 1.25em;
    margin-left: 15vw;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #3F402D;
    color: #F2F2F2;
    
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

/*ABOUT*/

.sectionabout {
    width: 89vw;
    height: 80vw;
    grid-template-columns: 1fr 1fr;
    border: 1px solid green;
}

.waterfall {
    width: 550px;
    float: left;
    margin-top: 12vh;
    margin-left: 10vw;
    border: 1px solid blue;
}

.abouttxt {
    font-style: Gentium;
    width: 40vw;
/*     margin-right: 15vw;
    margin-top: 3vh;
 */    color: #3F402D;
    float: right;
    border: 1px solid red;
}

@media (max-width:600px) {
    .waterfall {
        width: 50vw;
        align-content: space-around;
    }
    
}

/*CONTACT*/

p { 
    font-size: Bebas Neue;
    font-size: large;
    text-align: left;
/*     margin-top: 20vh;
 */}
